{% extends 'base.html.twig' %}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }} class="form-group">
    <div class="input-group my-3">
        <div class="input-group-prepend w-25">
            {{- form_label(form, null, { label_attr: { class: 'input-group-text w-100'} }) -}}
        </div>
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
    </div>
    </{{ element|default('div') }}>
{%- endblock form_row %}

{% block body %}

    <div class="row">
        <div class="col">
            <h3>Endpoint</h3>
            {% form_theme formTransport _self %}
            {{ form_start(formTransport, {method:'post', attr: {class: 'px-3 pt-1 pb-3 bg-light'}}) }}
            {{ form_row(formTransport.transportName) }}
            {{ form_row(formTransport.transportDescription) }}
            <hr/>
            {{ form_row(formTransport.transportProtocol, {attr: {class: 'custom-select'}}) }}
            {{ form_row(formTransport.transportPropertyHost) }}
            {{ form_row(formTransport.transportPropertyPort) }}
            {{ form_row(formTransport.transportEncryption, {attr: {class: 'custom-select'}}) }}
            <hr/>
            {{ form_row(formTransport.transportPropertyUsername) }}
            {{ form_row(formTransport.transportPropertyPassword) }}
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            {{ form_end(formTransport) }}

            <hr/>
            {# @var transportProperty \App\Entity\TransportProperty #}
            {% for transportProperty in transportProperties %}
                <ul class="list-group mb-1">
                    <li class="list-group-item">
                        {{ transportProperty.transport.name }}
                        <span class="small text-muted">{{ transportProperty.transport.description }}</span>
                    </li>
                    <li class="list-group-item small py-1">
                        {{ transportProperty.transport.transportProtocol.description }},
                        {{ transportProperty.transport.transportEncryption.description }}
                    </li>
                    <li class="list-group-item small py-1">
                        Host: {{ transportProperty.host }}
                        Port: {{ transportProperty.port }}
                    </li>
                    {% if transportProperty.username %}
                    <li class="list-group-item small py-1">
                        User: {{ transportProperty.username }}
                    </li>
                    {% endif %}
                </ul>
            {% endfor %}
        </div>
        <div class="col">
            <h3>Transport</h3>
            {% form_theme formGroup _self %}
            {{ form_start(formGroup, {method:'post', attr: {class: 'px-3 pt-1 pb-3 bg-light'}}) }}
            {{ form_row(formGroup.name) }}
            {{ form_row(formGroup.description) }}
            <hr/>
            {{ form_row(formGroup.transportEnvelope, {attr: {class: 'custom-select'}}) }}
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            {{ form_end(formGroup) }}

            <hr/>
            {# @var transportGroup \App\Entity\TransportGroup #}
            {% for transportGroup in transportGroups %}
                <ul class="list-group mb-1">
                    <li class="list-group-item">
                        {{ transportGroup.name }}
                        <span class="small text-muted">{{ transportGroup.description }}</span>
                    </li>
                    <li class="list-group-item small py-1">
                        {{ transportGroup.transportEnvelope.description }}
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>

{% endblock %}
